@import "tailwindcss";

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(-75px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-slide-up {
  animation: slideUpFade 0.3s ease-out forwards;
}